Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  google-*,
  llvm-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-magic-numbers,
  -google-runtime-int,
  -llvm-header-guard,
  -portability-simd-intrinsics,
  -misc-include-cleaner,
# hicpp?

WarningsAsErrors: "*"

CheckOptions:
  - { key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor, value: 1 }
  - { key: cppcoreguidelines-avoid-do-while.IgnoreMacros, value: 1 }
