# OS X Finder
.DS_Store

#cmake artifacts
cmake-build-*/
build/

#Xcode artifacts
xcode/
xcuserdata/
xcshareddata/
*.xcworkspacedata

#libraries and executables
*.a
*.so
*.cbp
*.bin

# JetBrains IDE CLion
# User-specific stuff:
.idea/

html/

__pycache__/
venv/